$font1_desktop:16px;
$font1_mobile:12px;
$font2_desktop:20px;
$font2_mobile:18px;
$image_deskstop:120px;
$image_mobile:80px;

.card {
  display: flex;
  width: 100%;
  height: 350px;
  align-items: center;
  backdrop-filter: blur(50px);
  background: hsla(0,0%,100%,.05);
  border: 2px solid hsla(0,0%,100%,.4);
  padding: 30px;
  border-radius: 50px;
  gap: 20px;

  .img {
    width: $image_deskstop;
    height: $image_deskstop;
    border-radius: 50%;
    border: 2px solid hsla(0,0%,100%,.4);
    object-fit: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    .info {
      font-size: $font1_desktop;
      font-weight: 300;
      color: white;
    }

    .name {
      font-size: $font2_desktop;
      font-weight: 600;
      letter-spacing: 1px;
      color: #6484b7;
    }

    .company{
      display: flex;
      gap: 5px;
      margin-top: 5px;
      align-items: center;

      .designation{
        font-size: $font1_desktop;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.559);
      }

      .logo{
        width: 25%;
      }
    }
  }
}

@media (max-width: 480px) {
  .card{
    padding: 20px;
    height: 300px;

    .img{
      width: $image_mobile;
      height: $image_mobile;
    }
    .content{
      gap: 5px;
      .info{
        font-size: $font1_mobile;
      }
      .name{
        font-size: $font2_mobile;
      }
      .company{
        margin-top: 2px;
        .designation{
          font-size: $font1_mobile;
        }
      }
    }
  }
}