// $heading

.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  align-items: center;
  backdrop-filter: blur(50px);
  background: hsla(0,0%,100%,.05);
  border: 2px solid hsla(0,0%,100%,.4);
  padding: 30px;
  border-radius: 50px;

  .img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid hsla(0,0%,100%,.4);
    object-fit: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 65%;
    
    .info {
      font-size: 16px;
      font-weight: 300;
      color: white;
    }

    .name {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #6484b7;
    }

    .company{
      display: flex;
      gap: 5px;
      margin-top: 5px;
      align-items: center;

      .designation{
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.559);
      }

      .logo{
        width: 25%;
      }
    }
  }
}