$font1_desktop: 16px;
$font1_mobile: 12px;
$font2_desktop: 20px;
$font2_mobile: 14px;
$font3_desktop: 14px;
$font3_mobile: 10px;
$logo_desktop: 150px;
$logo_mobile: 100px;

.footer {
  background-color: rgb(13, 24, 44);

  .content {
    padding: 3% 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Ubuntu, Arial, Helvetica, sans-serif !important;

    .logo {
      width: $logo_desktop;
    }
    .info {
      display: flex;
      gap: 50px;

      .about {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .about_text {
          font-size: $font1_desktop;
          font-weight: 300;
          color: white;
        }
        .about_buttons {
          display: flex;
          gap: 10px;

          button {
            border: 1px solid white;
            padding: 10px;
            color: white;
            background: transparent;
            font-size: $font3_desktop;
          }
        }
      }

      .address {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .address_text {
          font-size: $font1_desktop;
          font-weight: 300;
          color: white;
        }
        .email {
          font-size: $font2_desktop;
          font-weight: 300;
          color: white;
          text-decoration: underline;
        }
      }
    }
  }

  .copyright {
    background-color: rgb(11, 21, 39);
    text-align: center;
    padding: 10px 0px;
    font-size: $font3_desktop;
    font-weight: 300;
    color: white;
  }
}

@media (max-width: 480px) {
  .footer {
    .content {
      padding: 8% 10%;
      .logo {
        width: $logo_mobile;
      }
      .info {
        gap: 20px;
        .about {
          gap: 10px;
          .about_text {
            font-size: $font1_mobile;
          }
          .about_buttons {
            button {
              padding: 5px;
              font-size: $font3_mobile;
            }
          }
        }
        .address {
          .address_text {
            font-size: $font1_mobile;
          }
          .email {
            font-size: $font2_mobile;
          }
        }
      }
    }
    .copyright {
      font-size: $font3_mobile;
    }
  }
}
